<%- include('./partials/head.ejs') %>
        
<main>
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"" style="margin-bottom: 100px; "></div>
  <div class="d-grid gap-2 nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="align-items: center;">
    <a class="" href="/recipe">
    <button class="btn btn-warning btn-lg btn-outline-RECIPE-BOOK" type="button"  margin-left: 0px; margin-bottom: 20px; margin-top: 20px; color: #324456; font-family: rubik;">RECIPE BOOK</button>
    </a>
  </div>
  <div class="d-grid gap-2 nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="margin-top: 50px;">
    <p class="justify-content-center">created by: Joe Walker & Erik Yang</p>
    <p style="font-size: small;">2022 digital_recipe, Inc. All Rights Reserved.</p>
  </div>
</div>
</main>





