body {
    background-color: #EFEFED !important;
    font-family: Rubik;
    color: #324456 !important;
};


.form-control {
    display:  block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 40% !important;
}

