<%- include('../partials/head.ejs') %>

<body>
<div class="container-sm" style="margin-bottom: 10px;">
<form id="new-form" action="/recipe" method="POST" enctype="multipart/form-data">

   <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px;">RECIPE NAME</span>
    <input style="margin-bottom: 10px; margin-top: 10px" name="name" type="text" class="form-control" aria-label="Recipe Name aria-describedby="addon-wrapping">
  </div>


  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">COOKING TIME</span>
    <input style="margin-bottom: 10px; margin-top: 10px" name="cook_time" type="text" class="form-control" aria-label="Cooking Time" aria-describedby="addon-wrapping">
  </div>

  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">PREP TIME</span>
    <input  style="margin-bottom: 10px; margin-top: 10px" name="prep_time" type="text" class="form-control" aria-label="Prep Time" aria-describedby="addon-wrapping">
  </div>

  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">PORTION</span>
    <input style="margin-bottom: 10px; margin-top: 10px" type="text" name="portion" class="form-control" aria-label="Portion" aria-describedby="addon-wrapping">
  </div>


  <div class="input-group mb-3 fe">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">CATEGORY</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01" style="margin-bottom: 10px; margin-top: 10px; font-family: rubik;">
      <option selected>Choose...</option>
      <option value="1">BREAKFAST</option>
      <option value="2">LUNCH</option>
      <option value="3">DINNER</option>
      <option value="4">DESSERT</option>
      <option value="5">APPETIZER</option>
    </select>
  </div>
 
  <div class="input-group mb-3" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">
    <label class="input-group-text" for="inputGroupFile01" style="background-color: #EFEFED;margin-bottom: 10px; margin-top: 10px">UPLOAD</label>
    <input style="margin-bottom: 10px; margin-top: 10px;" type="file" name="ingredient_img" class="form-control" id="inputGroupFile01">
  </div>


   <div class="form-group">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-top: 10px;">INGREDIENTS</span>
    <label for="exampleFormControlTextarea1"></label>
    <textarea style="margin-bottom: 10px; margin-top: 10px; white-space: pre-wrap; font-family: rubik;" class="form-control" id="exampleFormControlTextarea1" rows="3" name="ingredient"></textarea>
  </div>
 

  <div class="form-group">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-top: 10px;">DIRECTIONS</span>
    <label for="exampleFormControlTextarea2"></label>
    <textarea  style="margin-bottom: 10px; margin-top: 10px; white-space: pre-wrap; font-family: rubik;" class="form-control" id="exampleFormControlTextarea2" rows="3" name="direction" ></textarea>
  </div>

 
  <div class="form-group">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-top: 10px;">COMMENTS</span>
    <label for="exampleFormControlTextarea3"></label>
    <textarea  style="margin-bottom: 10px; margin-top: 10px; white-space: pre-wrap; font-family: rubik;" class="form-control" id="exampleFormControlTextarea3" rows="3" name="comment" ></textarea>
  </div>

  <!-- <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">INGREDIENTS</span>
    <input style="margin-bottom: 10px; margin-top: 10px; font-family: rubik; white-space: pre-wrap;" type="text" name="ingredient" class="form-control" aria-label="Ingredients" aria-describedby="addon-wrapping">
  </div> -->
<!-- 
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">DIRECTIONS</span>
    <input style="margin-bottom: 10px; margin-top: 10px" type="text" name="direction" class="form-control" aria-label="direction" aria-describedby="addon-wrapping" class="d-print-table-cell"> 
  </div> -->



  <!-- <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">COMMENTS</span>
    <input style="margin-bottom: 10px; margin-top: 10px" name="comment" type="text" class="form-control" aria-label="Comments" aria-describedby="addon-wrapping"> 
  </div> -->

    <input type="submit" value="ADD NEW RECIPE" style ="background-color: #324456; font-family: rubik; color: white; margin-bottom: 10px; margin-top: 10px">
  </div> 
  </form>
</div>
</body>

