<%- include('../partials/head.ejs') %>

<body>
<div class="container-sm" style="margin-bottom: 10px;">
<form id="new-form" action="/recipe" method="POST" enctype="multipart/form-data">

   <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px;">RECIPE NAME</span>
    <input style="margin-bottom: 10px; margin-top: 10px" type="text" class="form-control" aria-label="Recipe Name aria-describedby="addon-wrapping">
  </div>


  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">COOKING TIME</span>
    <input style="margin-bottom: 10px; margin-top: 10px" type="text" class="form-control" aria-label="Cooking Time" aria-describedby="addon-wrapping">
  </div>

  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">PREP TIME</span>
    <input  style="margin-bottom: 10px; margin-top: 10px" type="text" class="form-control" aria-label="Prep Time" aria-describedby="addon-wrapping">
  </div>

  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">PORTION</span>
    <input style="margin-bottom: 10px; margin-top: 10px" type="text" class="form-control" aria-label="Portion" aria-describedby="addon-wrapping">
  </div>
  

  <div class="input-group mb-3" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">
    <label class="input-group-text" for="inputGroupFile01" style="background-color: #EFEFED;margin-bottom: 10px; margin-top: 10px">UPLOAD</label>
    <input style="margin-bottom: 10px; margin-top: 10px;" type="file" name="ingredient_img" class="form-control" id="inputGroupFile01">
    
  </div>

 
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">INGREDIENTS</span>
    <input style="margin-bottom: 10px; margin-top: 10px" type="text" class="form-control" aria-label="Ingredients" aria-describedby="addon-wrapping">
  
  </div>
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">DIRECTIONS</span>
    <input style="margin-bottom: 10px; margin-top: 10px" type="text" class="form-control" aria-label="direction" aria-describedby="addon-wrapping">
  </div>
  
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">COMMENTS</span>
    <input style="margin-bottom: 10px; margin-top: 10px" type="text" class="form-control" aria-label="Comments" aria-describedby="addon-wrapping">

  </div>
    <input type="submit" value="ADD NEW RECIPE" style ="background-color: #EFEFED; font-family: rubik; color: 324456; margin-bottom: 10px; margin-top: 10px">
  </div> 
  </form>
</div>
</body>

