<%- include('../partials/head.ejs') %>

<body>
<div class="container-sm" style="margin-bottom: 10px;">
<form id="new-form" action="/recipe" method="POST">

   <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style="background-color: #EFEFED;">Recipe Name</span>
    <input type="text" class="form-control" aria-label="Recipe Name aria-describedby="addon-wrapping">
  </div>


  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style="background-color: #EFEFED;">Cooking Time</span>
    <input type="text" class="form-control" aria-label="Cooking Time" aria-describedby="addon-wrapping">
  </div>

  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style="background-color: #EFEFED;">Prep Time</span>
    <input type="text" class="form-control" aria-label="Prep Time" aria-describedby="addon-wrapping">
  </div>

  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style="background-color: #EFEFED;">Portion</span>
    <input type="text" class="form-control" aria-label="Portion" aria-describedby="addon-wrapping">
  </div>
  

  <div class="input-group mb-3" style="background-color: #EFEFED;">
    <label class="input-group-text" for="inputGroupFile01" style="background-color: #EFEFED;">Upload</label>
    <input type="file" class="form-control" id="inputGroupFile01">
    <!-- uploads tag -->
  </div>
 
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style="background-color: #EFEFED;">Ingredients</span>
    <input type="text" class="form-control" aria-label="Ingredients" aria-describedby="addon-wrapping">
  </div>
  
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping" style="background-color: #EFEFED;">Comments</span>
    <input type="text" class="form-control" aria-label="Comments" aria-describedby="addon-wrapping">
  </div>
    <input type="submit" value="Add New Recipe">
  </div> 
  </form>
</div>
</body>

