<%- include('../partials/head.ejs') %>
<table id="list">
  <thead>
    <tr>
      <th>Recipe Name</th>
      <th>Sub<br>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% food_category.forEach(function(m) { %>
      <tr>
        <td><%= m.name %></td>
        <td><a href="/food_category/<%= m._id %>">Recipe</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
