<%- include('../partials/head.ejs') %>

<form id="new-form" action="/food_category" method="POST">
  <label>Category:</label>
  <input type="text" name="name">
  <input type="submit" value="Add New Category">
</form>

